@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: rgb(190, 196, 201);
    font-family: 'Montserrat', sans-serif;
    margin: 3% 10%;
}
header {
    padding: 20px 0px;
}
header > img {
    display: block;
    margin: auto;
    max-width: 400px;
}
nav {
    background-color: rgb(56, 56, 56);
    border-radius: 5px;
}
nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 5px 0px;
}
nav li {
    display: inline-block;
    padding: 0px 15px;
}
nav li a {
    text-decoration: none;
    color: white;
    font-size: 1.2rem;
    transition: .5s;
}
nav li a:hover {
    color: #d0604c;
}
section {
    display: flex;
    column-gap: 20px;
    
}
.banner {
    padding: 5% 3%;
    margin: 25px 0px;
    background-image: url(imgs/banner.jpg);
    background-position: center center;
    border-radius: 5px;
    position: relative;
}
.effect-shine:after {
    content: "";
    position: absolute;
    top: 0px;
    left: 0px;
    width: 0%;
    height: 100%;
    background-color: rgba(255,255,255,0.4);
    -webkit-transition: none;
    -moz-transition: none;
    -ms-transition: none;
    -o-transition: none;
    transition: none; 
}
.effect-shine:hover:after {
    width: 120%;
    background-color: rgba(255,255,255,0);
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}
.banner h1 {
    font-size: 2.5rem;
}
.banner article {
    max-width: 75%;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    color: #fff;
}
.banner article p {
    font-weight: 300;
}
article {
    flex: 1;
}
.features article {
    padding: 25px;
    background: #ffffff21;
    display: flex;
    flex-direction: column;
    row-gap: 15px;
    border-radius: 5px;
}
article img {
    width: 100%;
    border-radius: 5px;
}
footer {
    border-top: 1px solid #0000004f;
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0px;
}
footer img {
    width: 80px;
}
article a {
    background-color: #2a2a2a;
    width: 160px;
    padding: 5px 10px;
    border-radius: 5px;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
article a:hover {
    background: #d0604c;
    transition: 0.25s;
}
table th {
    text-align: left;
    padding: 0px 0px 5px 0px;
}